/.appanalyzer/
/.codeartsdoer/
/.hvigor/
/.hvigor_home/
/.idea/
/.vscode/
/build/
/entry/.cxx/
/entry/.preview/
/entry/build/
/entry/oh_modules/
/node_modules/
/oh_modules/
/local.properties
/signing/

*.app
*.bak
*.cer
*.csr
*.dmp
*.hap
*.hsp
*.jks
*.key
*.keystore
*.log
*.p12
*.p7b
*.pem
*.so
*.tmp
.DS_Store

/entry/src/main/cpp/third_party/**/build/
/entry/src/main/cpp/third_party/**/libs/
